* {
  font-family: Helvetica, Arial, sans-serif;
}

body{
  background-color: #282c34;
  color: white;
}

ul{
  list-style: none;
}

input{
  padding: 5px;
  color: gray;
  font-size: 1.1rem;
  width: 90%;
}
button{
  margin-left: 15px;
}

.menu-categorias{
  float: left;
  width: 10%;
  border-right: 1px solid gray;
}
.contenido{
  float: left;
  padding: 15px;
  width: 85%;
}

.list-categorias{
  padding: 5px;
  font-size: 1.3rem;
  font-weight: 800;
}
.card-grid{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: 1px solid white;
  border-radius: 5px;
  padding: inherit;
}
.card{
  border:1px solid white;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 200px!important;
  overflow: hidden;
}

.card p{
  text-align: center;
  padding: 5px;
}

.card img{
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.visible-movil{
  display: none;
}

.invisible-movil{
  display: block;
}

@media (max-width: 600px) {
  .visible-movil{
    display: block;
  }
  
  .invisible-movil{
    display: none;
  }

  .search{
    width: 80%;
  }

  .menu-categorias{
    float: none;
    width: 100%;
  }

  .contenido{
    width: -webkit-fill-available;
  }
}
